body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.nebula1 {
  float: left;
  height:300px;
  width: 300px;
  margin: 10px;
}
.nebula2 {
  float:right;
  height: 300px;
  width:300px;
  margin: 10px;
}
